@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// primary, secondary, info, danger, success

$custom-colors: (
	"primary": #A242F5,
	"success": #3ABB29,
	"danger": #F55E35,
	"warning": #F5D038,
	"info": #43BEFF
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// $custom-colors-text: (
// 	"info": #FAFAFA
// );

// $theme-colors-text: map-merge($theme-colors-text, $custom-colors-text);

// $btn-color: map-get($custom-colors, "white");
$global-border-radius: 1rem;

$btn-border-radius-sm: $global-border-radius;
$modal-content-border-radius: $global-border-radius;
$toast-border-radius: $global-border-radius;

.placeholder
{
	// TODO: not like this...
	cursor: default !important;
}