@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Custom colors.

// $body-bg: #f7f8f9;
// $body-secondary-bg: shade-color($body-bg, 2.5%);
// $body-tertiary-bg: shade-color($body-bg, 5%);

// $body-bg-dark: #070809;
// $body-secondary-bg-dark: tint-color($body-bg-dark, 10%);
// $body-tertiary-bg-dark: tint-color($body-bg-dark, 20%);

// Custom theme colors: primary, success, danger, warning, info.

// $custom-colors: (
// 	"primary": #A242F5,
// 	"success": #3ABB29,
// 	"danger": #F55E35,
// 	"warning": #F5D038,
// 	"info": #43BEFF
// );

// $theme-colors: map-merge($theme-colors, $custom-colors);

// Custom base font.

$font-family-base: 'Frank Ruhl Libre';

// Border radii.

$global-border-radius: .66rem;
$btn-border-radius-sm: $global-border-radius;
$modal-content-border-radius: $global-border-radius;
$toast-border-radius: $global-border-radius;
$nav-pills-border-radius: $global-border-radius;
$input-border-radius-sm: $global-border-radius;

// Component customizations

.placeholder
{
	// TODO: not like this...
	cursor: default !important;
}

$nav-link-padding-y: .25rem;
$nav-link-padding-x: .5rem;