.sidebar
{
	// &::-webkit-scrollbar { display: auto; }
}

.sidebar-tag-container
{
	display: flex;
	flex-wrap: wrap;
	gap: .25rem;
}

.sidebar-tag
{
	display: flex;
	gap: .25rem;
	border: 1px solid gray;
	padding: .125rem .5rem;
	border-radius: 1rem;
	text-overflow: ellipsis;

	.sidebar-tag-name
	{
		max-width: 10rem;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.sidebar-tag-remove
	{
		cursor: pointer;
	}
}