.sidebar-tooltip
{
	--bs-tooltip-bg: var(--bs-secondary-bg);
	--bs-tooltip-color: var(--bs-body-color);
}

.sidebar
{
	min-height: 0;
	overflow-y: scroll;
	font-size: .8rem;
	padding: .5rem;
	background-color: var(--bs-tertiary-bg);

	.sidebar-section
	{
		margin-bottom: .5rem;
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	.sidebar-section-header
	{
		font-weight: 700;
	}

	.sidebar-exif-row
	{
		display: grid;
		gap: .5rem;
		grid-template-columns: repeat(3, 1fr);

		.exif-data
		{
			display: flex;
			gap: .25rem;

			&.long-data
			{
				grid-column-end: span 2;
			}

			.exif-icon { flex-basis: 1rem; }
			.exif-value { flex-grow: 1; }

			.exif-value#sidebarExifDate,
			.exif-value#sidebarExifCamera
			{
				text-decoration: var(--bs-body-color) underline dashed;
			}
		}
	}

	.sidebar-textarea
	{
		font-size: .8rem;
	}
}