.sidebar-tooltip
{
	--bs-tooltip-bg: var(--bs-tertiary-bg);
	--bs-tooltip-color: var(--bs-body-color);
	font-family: 'Glegoo';
	font-size: .75rem;

	.tooltip-inner
	{
		box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
		opacity: 1;
	}
}

.sidebar
{
	min-height: 0;
	overflow-y: scroll;
	font-size: .75rem;
	padding: .5rem;
	background-color: var(--bs-tertiary-bg);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-family: "Glegoo";

	.sidebar-section
	{
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	h2
	{
		font-size: .8rem;
		margin: 0;
		font-weight: 700;
	}

	.exif-row
	{
		display: grid;
		gap: .5rem;

		&.exif-short-row { grid-template-columns: repeat(3, 1fr); }
		&.exif-long-row { grid-template-columns: 2fr 3fr; }

		.exif-cell
		{
			display: flex;
			gap: .25rem;
		}

		.exif-value
		{
			flex-grow: 1;

			&.exif-ext-value { text-decoration: var(--bs-body-color) underline dashed; }
		}
	}

	input,
	textarea
	{
		font-size: .8rem;
	}

	.tag-cloud
	{
		display: flex;
		gap: .25rem;
		flex-wrap: wrap;
		font-size: .9rem;
		
		.badge
		{
			display: inline-flex;
			gap: .25rem;
		}

		.tag-content
		{
			max-width: 10rem;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.tag-dismiss { color: var(--badge-color) }
	}

	.tag-suggestions-container
	{
		position: relative;
		z-index: 99;

		.list-group
		{
			position: absolute;
			top: 0;
			width: 100%;
			box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .5);
		}
	}
}