.sidebar
{
	min-height: 0;
	overflow-y: scroll;
	font-size: .8rem;
	padding: .5rem;

	.sidebar-section
	{
		margin-bottom: .5rem;
		display: flex;
		flex-direction: column;
		gap: .5rem;
	}

	.sidebar-section-header
	{
		font-weight: 700;
		margin: 0 0 .5rem 0;
	}

	.sidebar-equals
	{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: .5rem;

		.details
		{
			flex: 1 0 auto;
			display: flex;
			gap: .5rem;

			i
			{
				flex-basis: 1rem;
				text-align: center;
			}

			div
			{
				flex-grow: 1;
			}
		}
	}

	.sidebar-first-larger
	{
		display: grid;
		grid-template-columns: 2fr 1fr;
		gap: .5rem;

		.details
		{
			display: flex;
			gap: .5rem;

			i
			{
				flex-basis: 1rem;
				text-align: center;
			}

			div
			{
				flex-grow: 1;
			}
		}
	}
}