// TODO: separate scss file into smaller files.
@use "styles/window";
@use "styles/sidebar";
@use "styles/darkmode-colors";
@use "styles/startup";
@use "styles/support";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');
// * { outline: 1px solid red; }

.thumbnail-container
{
	flex-grow: 0;
	display: flex;
	gap: .5rem;
	overflow-x: scroll;
	height: window.$thumbnailRowHeight;
	scroll-behavior: smooth;
	padding: .5rem;

	.thumbnail
	{
		height: 100%;
		width: auto;
		border-radius: .25rem;
		cursor: pointer;
		filter: saturate(.5);

		&:hover,
		&.current
		{
			filter: unset;
		}
	}
}

// TODO: customize bootstrap somehow... like colors, animation, etc.
.modal.fade .modal-dialog
{
	transform: scale(1.025);
}

.modal.show .modal-dialog
{
	transform: none;
}

#settingsModal
{
	.modal-body
	{
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.settings-panel
	{
		background-color: var(--bs-tertiary-bg);
		border-radius: .5rem;
		padding: .5rem .5rem;
		display: grid;
		grid-template-columns: 150px auto;
		grid-auto-columns: auto;
		gap: .5rem;

		.panel-title
		{
			grid-column: 1 / span 2;
			font-size: 1.25rem;
			margin-bottom: .5rem;
		}

		.setting-title
		{
			font-weight: 700;
		}

		.setting-value
		{
			display: flex;
			gap: 1rem;
		}
	}
}