// TODO: separate scss file into smaller files.
@use "sidebar-tag";
@use "styles/sidebar";

// * { outline: 1px solid red; }

// TODO: look into a less hacky way of keeping the viewer from growing too large.
$titleBarHeight: 50px;
$thumbnailRowHeight: 115px;

html
{
	scroll-behavior: smooth;

	&[data-bs-theme='dark']
	{
		.exif-card
		{
			border: 1px solid lightpink;
		}

		.thumbnail.current
		{
			box-shadow: 0 0 .5rem rgba(0, 0, 0, 1), 0 0 .5rem rgba(0, 0, 0, 1);
		}
	}

	&[data-bs-theme='light']
	{
		.exif-card
		{
			border: 1px solid purple;
		}

		.thumbnail.current
		{
			box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
		}
	}
}

body
{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100vh;
}

#title-bar
{
	flex-basis: $titleBarHeight;
    -webkit-app-region: drag;
    -webkit-user-select: none;
    user-select: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	.title-bar-center
	{
		display: flex;
		align-items: center;
		justify-content: center;
		grid-column: 2;

		#titleBarSearch
		{
			text-align: center;
		}
	}

	.title-bar-right
	{
		display: flex;
		align-items: center;
		justify-content: right;
		grid-column: 3;
		margin-right: .5rem;

		#toggleSidebar
		{
			margin-right: .5rem;
		}
	}

	.title-bar-interactable
	{
		-webkit-app-region: none;
		-webkit-user-select: auto;
		user-select: auto;
	}
}

.content
{
	flex: 1;
	overflow: scroll;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&::-webkit-scrollbar { display: none; }
}

.viewer
{
	height: calc(100vh - $titleBarHeight - $thumbnailRowHeight);
	display: grid;
	grid-template-columns: auto 250px;
	grid-template-rows: minmax(0, 1fr);

	.photo
	{
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	&.no-sidebar
	{
		grid-template-columns: auto 0px;
	}
}

.thumbnail-container
{
	flex-grow: 0;
	display: flex;
	gap: .5rem;
	overflow-x: scroll;
	height: $thumbnailRowHeight;
	scroll-behavior: smooth;
	padding: .5rem;

	.thumbnail
	{
		height: 100%;
		width: auto;
		border-radius: .5rem;
		cursor: pointer;
		filter: saturate(.5);

		&:hover,
		&.current
		{
			filter: unset;
		}
	}
}